<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="e-commerce project" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>E-commerce</title>
  </head>
  <body>
    <!-- icon start  -->
    <i class="fas fa-bars fa-2x" id="menu-icon"></i>
    <!-- icon end -->

    <!-- navbar start here -->
    <nav id="menu" class="hidden">
      <ul class="nav-upper flex-space-around">
        <li class="nav_list">
          <a href="/" class="nav__link">Home</a>
        </li>
        <li class="nav_list">
          <a href="/register" class="nav__link">Register</a>
        </li>
        <li class="nav_list">
          <a href="/login" class="nav__link">LogIn</a>
        </li>
        <li class="nav_list">
          <a href="/logout" class="nav__link">LogOut</a>
        </li>
        <li class="nav_list">
          <a href="/contact" class="nav__link">Contact</a>
        </li>
        <li class="nav_list">
          <a href="/profile" class="nav__link">
            <img class="profile-icon" src="chandan.jpg" alt="profile icon" />
          </a>
        </li>
        <li class="nav_list">
          <a href="/cart" class="nav__link">
            <i class="fa-solid fa-cart-shopping"></i></a>
        </li>
      </ul>
    </nav>
    <!-- navbar end here -->
  </body>
</html>